<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!-- Container for map and sidebar -->
  <div class="wrapper">

    <%- include('../partials/sidebar') %>
    <%- include('../partials/map') %>

  </div>

  <%- include('../partials/script') %>
  <script src="../javascripts/usermap.js" charset="utf-8"></script>
</body>


</html>
