<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <h1>Home</h1>
  <div class="jumbotron text-center">
    <h2>Map</h2>
  </div>
  <footer><%- include('../partials/footer') %></footer>
</body>


</html>
