

#profilePicture {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#bio {
  width:300px;
  max-width: 400px;
}
