
<!-- Sidebar -->
<nav class="sidebar_activity" id="sidebar_activity">
    <table>
        <tr>
            <td>
                <h2 style="color:black; margin-left:25%">
                    Activity
                </h2>
            </td>
        </tr>
    </table>
    <table style="width:100%; margin-left:8%">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="width:20%">
                <img src="/assets/images/Arrow.jfif" alt="arrow" id="posted_picture">
            </td>
            <td style="width:80%; color:blue">
                @MikePence Liked your post
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="width:20%">
                <img src="/assets/images/Arrow.jfif" alt="arrow" id="posted_picture">
            </td>
            <td style="width:80%; color:blue">
                @MikePence Liked your post
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="width:20%">
                <img src="/assets/images/Arrow.jfif" alt="arrow" id="posted_picture">
            </td>
            <td style="width:80%; color:blue">
                @MikePence Liked your post
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="width:20%">
                <img src="/assets/images/Arrow.jfif" alt="arrow" id="posted_picture">
            </td>
            <td style="width:80%; color:blue">
                @MikePence Liked your post
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="width:20%; vertical-align: text-top;">
                <img src="/assets/images/Arrow.jfif" alt="arrow" id="posted_picture">
            </td>
            <td style="width:80%; color:blue">
                @Hillary Liked your post
                <br>
                <img src="/assets/images/Follow.png" alt="arrow" id="follow_button">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="width:20%">
                <img src="/assets/images/Arrow.jfif" alt="arrow" id="posted_picture">
            </td>
            <td style="width:80%; color:blue">
                @MikePence Liked your post
            </td>
        </tr>
    </table>
</nav>
