<!--Partial for screen to add a new pin-->

<div class="" id="overlay-back">
  <div id="addNewBucketContainer" class="add-window">
    <span id="closeAddBucket"><i class="fas fa-times"></i></span>
    <h2>Add Bucket</h2>
    <form class="" action="/pin" method="post">

    </form>

  </div>
</div>
