<!--Partial for screen to add a new pin-->

<div class="" id="overlay-back">
  <div id="addNewEventContainer">
    <span id="closeAddPin"><i class="fas fa-times"></i></span>
    <form class="" action="/pin" method="post">
    </form>

  </div>
</div>
