<div class="" id="overlay-back">
  <div id="addNewEventContainer">
    <span id="closeAddPin"><i class="fas fa-times"></i></span>
    <form class="" action="/pin" method="post">
      <h1>test</h1>
    </form>

  </div>
</div>
