<!-- menu for customize map screen -->

<div class="dynamic-sidebar" id="bucketlistSidebar">
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-caret-left"></i>
  </div>

  <div class="menu-content">
    
  </div>
</div>
