<div class="dynamic-sidebar" id="customizeSidebar">
  <div id="options">

    <div>
      <label for="hue">Hue:</label>
      <select id="hue" onchange="changeMapStyles()">
        <option value="	#FFFFFF">White</option>
        <option value="#0000">Black</option>
        <option value="#3363FF">Blue</option>
        <option value="#FF3333">Red</option>
      </select>
      <br>
    </div>

    <div>
      <label for="water">Water:</label>
      <select id="water" onchange="changeMapStyles()">
        <option value="	#FFFFFF">White</option>
        <option value="#000000">Black</option>
        <option value="#3363FF">Blue</option>
        <option value="#FF3333">Red</option>
      </select>
      <br>
    </div>
    <div>
      <label for="land">Landscape:</label>
      <select id="land" onchange="changeMapStyles()">
        <option value="	#FFFFFF">White</option>
        <option value="#000000">Black</option>
        <option value="#3363FF">Blue</option>
        <option value="#FF3333">Red</option>
      </select>
      <br>
    </div>
    <div>
      <label for="road">Road:</label>
      <select id="road" onchange="changeMapStyles()">
        <option value="	#FFFFFF">White</option>
        <option value="#000000">Black</option>
        <option value="#3363FF">Blue</option>
        <option value="#FF3333">Red</option>
      </select>
      <br>
    </div>
    <div>
      <label for="poi">Points of Interest:</label>
      <select id="poi" onchange="changeMapStyles()">
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>
      </select>
      <br>
    </div>

  </div>


  <div id="labels">

    <div>
      <input type="checkbox" id="labels" name="labels" value="labels">
      <label for="labels">Labels Visible</label>
      <br>
    </div>

  </div>


</div>
