<div class="dynamic-sidebar" id="customizeSidebar">
  <div id="options">
    <div class="item">
      <label for="hue">Style</label>
      <select id="template" onchange="changeMapStyles()">
        <option value="standard">Standard</option>
        <option value="silver">Silver</option>
        <option value="retro">Retro</option>
        <option value="dark">Dark</option>
        <option value="night">Night</option>
        <option value="aub">Aubergine</option>
      </select>
      <br>
    </div>
  </div>


  <div id="labels">
    <div>
      <input type="checkbox" id="roadCheckbox" name="labels" value="labels" onclick="changeMapStyles()" checked>
      <label for="labels">Roads</label>
      <br>
    </div>
    <div>
      <input type="checkbox" id="poiCheckbox" name="labels" value="labels" onclick="changeMapStyles()" checked>
      <label for="labels">Landmarks</label>
      <br>
    </div>
    <div>
      <input type="checkbox" id="labelCheckbox" name="labels" value="labels" onclick="changeMapStyles()" checked>
      <label for="labels">Labels</label>
      <br>
    </div>
  </div>


</div>
