
<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
      <div class="row">
        <button type="button" name="button" id="sidebarToggle" class="btn"><i class="fas fa-caret-right"></i></button>
      </div>
        <h2>MapShot</h2>
        <img id="profilePicture" src="/assets/images/userProfile.png" alt="noPic">
        <h3> <%= username %> </h3>
    </div>
    <ul class="sidebar-options">
      <li>
        <h3>Hue</h3>
        <div class="btn-group select colors">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-embossed" data-toggle="dropdown">
          <span class="filter-option pull-left">Pick a color </span>&nbsp;
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">

          </ul>
        </div>
      </li>
      <li>
        <h3>Roads</h3>
        <div class="btn-group select colors">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-embossed" data-toggle="dropdown">
          <span class="filter-option pull-left">Pick a color </span>&nbsp;
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">

          </ul>
        </div>
      </li>
      <li>
        <h3>Water</h3>
        <div class="btn-group select colors">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-embossed" data-toggle="dropdown">
          <span class="filter-option pull-left">Pick a color </span>&nbsp;
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">

          </ul>
        </div>
      </li>
      <li>
        <h3>Parks</h3>
        <div class="btn-group select colors">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-embossed" data-toggle="dropdown">
          <span class="filter-option pull-left">Pick a color </span>&nbsp;
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">

          </ul>
        </div>
      </li>
      <li>
        <h3>Landscapes</h3>
        <div class="btn-group select colors">
          <i class="dropdown-arrow"></i>
          <button class="btn dropdown-toggle clearfix btn-embossed" data-toggle="dropdown">
          <span class="filter-option pull-left">Pick a color </span>&nbsp;
          <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">

          </ul>
        </div>
      </li>
    </ul>
    <a href="/">Save</a>
    <a href="/">Cancel</a>

</nav>
