
<!-- Sidebar -->
<nav class="sidebar_explore" id="sidebar_explore">
    <table style="margin:auto">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <div style="font-size: 20px; color:black; text-align: center;">Explore</div>
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <input type="text" id="explore_textbox" name="explorebox" placeholder=" Paris"><br><br>
            </td>
        </tr>
    </table>
    <table style="margin:auto">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/dab.jpg" alt="Paris1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/Paris1.jpg" alt="Paris1" id="table_pic">
            </td>
        </tr>
    </table>
</nav>
