
<!-- Sidebar -->
<div class="sidebar_explore dynamic-sidebar" id="sidebar_explore">

  <div class="menu-content">
    <table style="margin:auto" id = "searchBar">
        <tr>
            <td>
              <div class="menu-toggle" onclick="toggleMenu()">
                <i class="fas fa-caret-left"></i>
              </div>
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <div style="font-size: 20px; color:black; text-align: center;">Explore</div>
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <input type="text" id="explore_textbox" name="explorebox" placeholder="Search"><br><br>
            </td>
        </tr>
    </table>
    <table id="exploreImages">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>

        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
        <tr>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
            <td>
                <img src="/assets/images/canada.jpeg" alt="1" id="table_pic">
            </td>
        </tr>
    </table>
  </div>

</div>
