
<!-- Sidebar -->
<nav class="sidebar_profile" id="sidebar_profile">
    <table style="margin:auto">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="text-align: center;">
                <img src="/assets/images/Trumo.jfif" alt="Trump1" id="ProfilePic">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="color:blue; font-size: small; text-align: center;">
                @TrumpCutiePie69420
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="color:black; font-size: large; text-align: center;">
                Donald Trump
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="color:black; font-size: small; text-align: center;">
                <textarea rows="4" cols="30" readonly id="profile_TextBox">

HEY SISTERS!! sister speech sweetie I’m so sister sorry... 
                </textarea>
            </td>
        </tr>
    </table>
    <table style="margin:auto">
        <tr>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>    
            </td>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>    
            </td>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>    
            </td>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>    
            </td>
            <td>
                <a href="">
                    <img src="/assets/images/Arrow.jfif" alt="arrow" id="Arrow_Pic">
                  </a>
            </td>
        </tr>
    </table>
</nav>
