<!-- menu for profile screen -->

<div class="dynamic-sidebar" id="bucketlistSidebar">
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-caret-left"></i>
  </div>

  <div class="menu-content">
    <div id="profilePicture"></div>
    <h3 id="username"></h3>
    <p id="bio"></p>

    <h4>Tag1</h4>
    <br>
    <h4>Tag2</h4>
    <br>
    <h4>Tag3</h4>
    <br>
    <h4>Tag4</h4>
  </div>
</div>
