
<!-- Sidebar -->
<nav class="sidebar" id="sidebar">
    <button type="button" name="button" class="sidebar " id="sidebarToggle">Toggle</button>
    <h3><%= page %></h3>
    <ul class="list-unstyled components">
      <li>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </li>
        <li>
          <a href="/explore">
              <i class="fas fa-search"></i>
          </a>
        </li>
        <li>
          <a href="#profileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-user-alt"></i>
            </a>
            <ul class="collapse list-unstyled" id="profileSubmenu">
                  <li>
                      <a href="/profile">My Profile</a>
                  </li>
                  <li>
                      <a href="/customizeMap">Customize Map</a>
                  </li>
                  <li>
                      <a href="/settings">Settings</a>
                  </li>
                  <li>
                      <a href="/changePassword">Change Password</a>
                  </li>
                  <li>
                    <a href="#" id=logoutButton>Logout <i class="fas fa-sign-out-alt"></i></a>
                  </li>
              </ul>
        </li>
    </ul>
</nav>
