<!-- Sidebar used on every map screen-->
<nav class="sidebar side-nav" id="sidebar">
    <button type="button" name="button" class="sidebar " id="sidebarToggle">Toggle</button>
    <h3><%= page %></h3>
    <ul class="list-unstyled components">
      <li id="homeLink">
        <a href="/">
          <img src="/assets/icons/mapshot-white.png" alt="home" width="30" height="30">
        </a>
      </li>
        <li id="exploreLink">
          <a href="/explore">
              <i class="fas fa-search"></i>
          </a>
        </li>
        <li id="bucketListLink">
          <a href="/bucketList">
            <img src="/assets/icons/bucket-white.png" alt="bucketlist" width="30" height="30">
          </a>
        </li>
        <li>
          <a href="/profile">
                <i class="fas fa-user-alt"></i>
            </a>
        </li>
    </ul>
</nav>
